azureml
azure-ai-ml
azure-batch
azure-storage-blob
azure-storage-file-share
coverage
dask[complete]
dask-cloudprovider[azure]
dask-cloudprovider[azure]
adlfs lz4 blosc
dask
distributed
docstring_expander
jupyterlab
dask-kubernetes
libroadrunner
lmfit
nose
numpy
pandas
pylint
sphinx
seaborn
tellurium
tk
tqdm
